{
  "parser": "@typescript-eslint/parser",
  "plugins": ["jest"],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "no-console": "off"
  }
}
